<?php

namespace KunicMarko\SonataAnnotationBundle\Tests\Resources\Model;

use KunicMarko\SonataAnnotationBundle\Annotation as Sonata;

/**
 * Bad add child admin class test model.
 *
 * @author Mathieu Wambre <contact@neimheadh.fr>
 *
 * @Sonata\Admin
 * @Sonata\AddChild(class="Unknown", field="wrong")
 */
class BadChildAdminClass
{

}